venv/                                                                                                                      
  __pycache__/                                                                                                               
  *.pyc                                                                                                                      
  *.log                                                                                                                      
  config.py                                                                                                                  
  *.pyo                                                                                                                      
  *.pyd                                                                                                                      
  .Python                                                                                                                    
  *.so                                                                                                                       
  *.egg                                                                                                                      
  *.egg-info/                                                                                                                
  dist/                                                                                                                      
  build/
